extends ../layout

block content
  p.lead= user.email
  if user.profile
    .row
      .col-md-8
        p= user.profile.name
  .row
    each event in user.events
      .col-md-8
        a(href='events/' + event._id, role='button')= event.name
        p #{event.date}, #{event.location}
        p #{event.category.name}
    else
      .col-md-8
        p There are no events yet