extends ../layout

block content
  p.lead= `List events from "${category.name}" category`
  hr
  .my-3.px-3.pb-0.pt-3.bg-white.rounded.shadow-sm
    each event in events
      .media
        p.media-body.pb-3.border-bottom.border-gray
          a(href='/events/' + event._id, role='button')
            strong.d-block.text-gray-dark #{event.name}
          span #{event.date}: #{event.location}
          br
          span.text-muted #{event.description.substring(0, 400) + '...'}
    else
      .media.pt-3
        p There are no events yet