extends ../layout

block content
  h1= category.name
  p.lead= `List events from ${category.name} category`
  hr
  .row
    each event in events
      .col-md-8
        a(href='events/' + event._id, role='button')= event.name
        p= `${event.date}, ${event.category.name}`
        p
          a(href='events/' + event._id, role='button') View details
    else
      .col-md-8
        p There are no events yet
