extends ../layout

block content
  h1 Events
  p.lead List of my events
  hr
  .row
    each event in events
      .col-md-8
        a(href='events/' + event._id, role='button')= event.name
        p= `${event.date}, ${event.category}`
        p
          a(href='events/' + event._id, role='button') View details
          if event.creator.toString() == userId.toString()
            a(href='events/edit/' + event._id, role='button') Edit
            form(method='POST' action='/events/delete')
              input(type='hidden', name='_csrf', value=_csrf)
              input(type='hidden', name='id', value=event._id)
              button(type='submit') Delete
    else
      .col-md-8
        p There are no events yet
