extends ../layout

block content
  h1= event.name
  p.lead= event.date
  hr
  .row
    .col-md-8
      p= event.category.name
      p= event.creator.email
      p= event.description
  .row
    each attendee in event.attendees
      .col-md-8
        a(href='users/' + attendee._id)= attendee.email

