extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Edit event

  form(method='POST', action='/events/edit')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='id', value=event._id)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='name') Name
      .col-md-8
        input.form-control(type='text', name='name', id='name', autocomplete='name', value=event.name)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='location') Location
      .col-md-8
        input.form-control(type='text', name='location', id='location')
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='date') Date
      .col-md-8
        input.form-control(type='date', name='date', id='date', autocomplete='date', value=event.date)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='description') Description
      .col-md-8
        textarea.form-control(name='description', id='description', rows='7')= event.description

    .form-group
      .offset-md-2.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          i.far.fa-envelope.fa-sm
          | Update
