extends ../layout

block content
  p.lead List of all upcoming events
    if userId
      a.btn.btn-primary.float-right(href='/events/add', role='button') Add new event
  hr
  .my-3.p-3.bg-white.rounded.shadow-sm
    ul.nav
      each category in categories
        li.nav-item
          a.nav-link(href='/categories/' + category._id)= category.name
      else
        li There are no categories
  .my-3.p-3.bg-white.rounded.shadow-sm
    each event in events
      .media
        p.media-body.pb-3.border-bottom.border-gray
          a(href='/events/' + event._id, role='button')
            strong.d-block.text-gray-dark #{event.name}
          span #{event.date}: #{event.location}
          br
          span.text-muted #{event.description.substring(0, 400) + '...'}
    else
      .media.pt-3
        p There are no events yet
